<!-- Display the listing of the tools for a user -->
<h4>Your tools</h4>
<% @user_tools.each do |tool| %>
<p><%= tool.name %> - <button>  <%= link_to 'Edit', edit_tool_path(tool) %> </button> <button> <%= link_to 'Delete', tool_path(tool), method: :delete %></button> </p>
<% end %>
