<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/7511dd60dc.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Tooli INDEX</title>
</head>

<body id="home">
  <nav class="navbar">
    <div class="container">
      <h1 class="logo">Tooli</h1>
      <ul class="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </nav>

  <!-- Showcase -->
  <section class="section-a">
    <div class="container">
      <div>
        <h1>Never lose track of your applications.</h1>
        <p>The number 1 interview tracker worldwide</p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam adipisci vero expedita a velit ratione voluptate qui reprehenderit, in perferendis harum numquam, voluptatum tempora corrupti corporis nisi, inventore quasi provident.</span>
        <span>Ducimus neque tempora accusantium dicta a voluptatum sunt qui atque sed, inventore facere nihil, amet quo excepturi voluptate soluta. Debitis rerum iusto veritatis ut impedit et modi est culpa optio.</span>
        <span>Repellendus explicabo soluta vel aut dicta commodi veniam magnam? Perferendis dignissimos, enim odio quos quae sit inventore cupiditate numquam porro, vel dicta aut animi dolore ratione eveniet obcaecati. Id, sed!</span>
        <span>Nisi quia neque repellat asperiores facilis cum dolor dolorem in aperiam ab sint nam dolores atque quas, distinctio, porro a laudantium placeat quasi, ipsum blanditiis provident eligendi sequi. Labore, nobis!</span>
        <span>Provident ducimus harum reprehenderit eveniet maxime. Vel, quos, impedit laborum enim dolore asperiores pariatur modi eum adipisci eligendi vitae commodi officia iusto reprehenderit debitis, dolor, id ipsam iure quam consequatur.</span></p>
        <a href="#" class="btn">See More</a>
      </div>
      <div>
        <img src="https://cdn.apartmenttherapy.info/image/fetch/f_auto,q_auto:eco,c_fit,w_1460/https%3A%2F%2Fstorage.googleapis.com%2Fgen-atmedia%2F3%2F2008%2F07%2Fbd0a6a646ff1cad57d170adc3d20be4083e1a4b2.jpeg" alt="Two Cachaça Bottles" />
      </div>
    </div>
  </section>

  <!-- Overlay Text -->
  <!-- <section class="section-b">
    <div class="overlay">
      <div class="section-b-inner">
        <h3>Get The Party Started!</h3>
        <h2>Brazilianize it!</h2>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        </p>
      </div>
    </div>
  </section> -->

  <!-- Gallery -->
  <!-- <section class="section-c">
    <div class="gallery">

      <a href="https://image.freepik.com/free-photo/brazil-flag-flying_26604-19.jpg" class="big"><img src="https://image.freepik.com/free-photo/brazil-flag-flying_26604-19.jpg" alt=""/>
      </a>

      <a href="https://wallpaperaccess.com/full/153420.jpg" class="big"><img src="https://wallpaperaccess.com/full/153420.jpg" alt=""/>
      </a>

      <a href="https://wallpaperaccess.com/full/174745.jpg" class="big"><img src="https://wallpaperaccess.com/full/174745.jpg" alt=""/>
      </a>

      <a href="https://winedharma.com/sites/winedharma.com/files/imagecache/auto-768/story/1599-caipirinha-cocktail-originale-recipe-cocktail-cachaca-lime-sugar.jpg" class="big"><img src="https://winedharma.com/sites/winedharma.com/files/imagecache/auto-768/story/1599-caipirinha-cocktail-originale-recipe-cocktail-cachaca-lime-sugar.jpg" alt=""/>
      </a>

      <a href="https://odia.ig.com.br/_midias/jpg/2018/07/09/700x470/1_caipirinha-7313586.jpg" class="big"><img src="https://odia.ig.com.br/_midias/jpg/2018/07/09/700x470/1_caipirinha-7313586.jpg" alt=""/>
      </a>

      <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Cachaca.JPG/1024px-Cachaca.JPG" class="big"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Cachaca.JPG/1024px-Cachaca.JPG"alt=""/>
      </a>
    </div>

  </section>

 -->  <!-- Footer -->
  <!-- <footer class="section-footer">
    <div class="container">
      <div>
        <h2>Try this piece of Brazilian soul!</h2>
        <a href="http://twitter.com">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="http://facebook.com">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="http://youtube.com">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
      </div>
      <div>
        <h3>Company Info</h3>
        <ul>
          <li><a href="#">All Products</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="">Terms of Service</a></li>
        </ul>
      </div>
      <div>
        <h3>Blog Posts</h3>
        <ul>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
      </div>
      <div>
        <h3>Subscribe</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <form name="email-form" method="POST" data-netlify="true">
          <div class="email-form">
            <span class="form-control-wrap">
              <input
                type="email"
                name="email"
                id="email"
                size="40"
                class="form-control"
                placeholder="E-mail"
                />
            </span>
            <button type="submit" class="form-control submit">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </footer>
  </body>
   <p>
    &copy; Created by Leonardo Costa<i class="fab fa-free-code-camp"></i>
  </p>
</footer>
</html> -->
