<div class="banner">
  <div class="banner-background">
    <h2 class="banner-title">Book a tool for free!</h2>
  </div>
</div>

<div class="container">
 <% @tools.each do |tool| %>
    <div class= "card">
      <% if tool.photo.present? %>
        <%= image_tag(tool.photo_url)%>
      <% else %>
        <%= image_tag("https://res.cloudinary.com/leocosta/image/upload/v1574247435/jeshoots-com-VdOO4_HFTWM-unsplash_bvcroq.jpg") %>
      <% end %>
      <%= link_to tool.name, tool_path(tool.id) %>
      <%= link_to "", tool_path(tool.id), class: "tool-card-link" %>
    </div>
<% end %>
</div>

    <nav class="navbar navbar-expand-xl py-0 position-absolute w-100" id="navbar">

    <div class="container-fluid">
      <!-- First Section -->


<!--      <div class="row flex-nowrap pt-2 scrollableRow no-gutters" id="testimonies">-->
<!--        <div class="col-12 col-md-4 col-xl-4">-->
<!--          <div class="review">-->
<!--            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247357/todd-quackenbush-IClZBVw5W5A-unsplash_k0fiew.jpg')">-->
<!--            </div>-->
<!--            <div class="rating mb-2 text-black-50">-->
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
<!--            </div>-->
<!--            <p class="description pr-4"><small>-->
<!--              Renting via Tooli was a fantastic experience. The service was fast, secure and quick. We will definitely use it again.-->
<!--            </small></p>-->
<!--            <div class="user d-flex flex-row">-->
<!--              <i class="far fa-user-circle mr-3"></i>-->
<!--              <div>-->
<!--                <p class="name mb-0"><b>Shelley</b></p>-->
<!--                <p class="location mb-0"><small>United States</small></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-md-4 col-xl-4">-->
<!--          <div class="review">-->
<!--            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247435/jeshoots-com-VdOO4_HFTWM-unsplash_bvcroq.jpg')">-->
<!--            </div>-->
<!--            <div class="rating mb-2 text-black-50">-->
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
<!--            </div>-->
<!--            <p class="description pr-4"><small>-->
<!--              Our renter Judy was very easy-going. She gave us all the necessary gear and instructions of how to use it our equipment. It was overall a great solution to our problem.-->
<!--            </small></p>-->
<!--            <div class="user d-flex flex-row">-->
<!--              <i class="far fa-user-circle mr-3"></i>-->
<!--              <div>-->
<!--                <p class="name mb-0"><b>Alyssa</b></p>-->
<!--                <p class="location mb-0"><small>United States</small></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-md-4 col-xl-4">-->
<!--          <div class="review">-->
<!--            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247514/matt-artz-dh3zAdGGOIY-unsplash_gx05if.jpg')">-->
<!--            </div>-->
<!--            <div class="rating mb-2 text-black-50">-->
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
<!--            </div>-->
<!--            <p class="description pr-4"><small>-->
<!--              We managed to solve all our problems thanks to the assistance from Chris and his tools! We are not very handy people but everything was easy and convenient. Well deserved 5 stars review.-->
<!--            </small></p>-->
<!--            <div class="user d-flex flex-row">-->
<!--              <i class="far fa-user-circle mr-3"></i>-->
<!--              <div>-->
<!--                <p class="name mb-0"><b>Sarah</b></p>-->
<!--                <p class="location mb-0"><small>United States</small></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- Filler -->
        <div class="d-xl-none filler">
        </div>
      </div>
    </div>

      <hr class="mt-2 mt-md-3 mb-0" />
      <!-- Home Listings -->
      <div class="pt-4 pt-lg-5 headings"></div>

</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

