<h1>Landing page of Tooli</h1>
<p>pages/html.erb</p>

<p><%= link_to 'Sign in', new_user_session_path %></p>


<p>This link is not available on our Landingpage ??
<%= link_to 'All tools', tools_path %><p>
<%= link_to 'logout', destroy_user_session_path, method: 'delete'  %>
