<h1>Landing page of Tooli</h1>


  <body>
    <nav class="navbar navbar-expand-xl py-0 position-absolute w-100" id="navbar">
      <!-- nav for xl screens -->

      <div class="d-none d-xl-flex flex-grow-1" id="xlNavbar">
        <a class="navbar-brand py-0 pr-0 pl-2 text-white" href="#">Tooli</a>
        <div class="navbar-nav ml-auto">
          <!-- <a class="nav-item nav-link py-0 px-2 text-white" href="#"><div class="px-2"></div></a> -->
          <!-- <a class="nav-item nav-link py-0 px-2 text-white" href="#"><div class="px-2">Sign up</div></a> -->


          <a class="nav-item nav-link py-0 px-2 text-white" href="#"><div class="px-2">Log in</div></a>
        </div>
      </div>

      <!-- button and collapsed menu -->

      <a class="navbar-toggler navbar-brand py-0 pr-0 pl-2 border-0 position-relative collapsed" role="button" data-toggle="collapse" href="#navbarMenu" id="navbarMenuToggler">Tooli</a>

      <div class="collapse navbar-collapse px-4 pb-4 font-weight-light bg-white position-absolute" id="navbarMenu">
        <a class="nav-item nav-link" href="#">Home</a>
        <hr/>
        <a class="nav-item nav-link" href="#">Share with friends</a>
        <a class="nav-item nav-link" href="#">Refer vendors</a>
        <hr/>
        <a class="nav-item nav-link" href="#">Sign up</a>
        <a class="nav-item nav-link" href="#">Log in</a>
        <hr/>
        <a class="nav-item nav-link" href="#">Help</a>
      </div>
    </nav>

    <!-- Hero content -->
    <div id="hero" class="position-relative">
      <div class="container-fluid">
        <h2 class="mb-0 pb-3 pb-sm-4 text-white d-xl-none">Rent great tools.</h2>
      </div>
    </div>

    <!-- Search form -->
    <div id="searchForm">
      <div class="container-fluid">
        <form class="py-4 rounded bg-white">
          <h2
          class="d-none d-xl-block">Rent all the tools you need
          </h2>
          <div class="form-group">
            <label for="where"><small><b>WHERE</b></small></label>
            <input type="text" class="form-control form-control-lg rounded" id="where" placeholder="Anywhere">
          </div>
          <div class="row no-gutters">
            <div class="form-group col-6">
              <label for="checkin"><small><b>RENTAL START</b></small></label>
              <input type="date" class="form-control form-control-lg rounded-left rounded-left" id="checkin" placeholder="mm/dd/yyyy">
            </div>
            <div class="form-group col-6">
              <label for="checkout"><small><b>RENTAL END</b></small></label>
              <input type="date" class="form-control form-control-lg rounded-right border-left-0" id="checkout" placeholder="mm/dd/yyyy">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress"><small><b>Tool options</b></small></label>
            <select class="form-control form-control-lg rounded" id="guests">
              <option>Find a tool</option>
              <option>Offer a tool</option>
            </select>
          </div>
          <div class="d-flex flex-column align-items-xl-end">
            <button type="submit" class="btn btn-danger px-4 mt-2">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <!-- First Section -->
      <div class="pt-3 pt-lg-4 pt-xl-5 headings">
        <h4 class="mb-3">Find great tools in your city</h4>
        <p><span class="d-none d-md-inline">Check some of our options in Berlin</b></p>
      </div>

      <div class="row flex-nowrap pt-2 scrollableRow no-gutters">
        <div class="col-12 col-md-6 col-xl-4">
          <div class="review">
            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247357/todd-quackenbush-IClZBVw5W5A-unsplash_k0fiew.jpg')">
            </div>
            <div class="rating mb-2 text-black-50">
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
            </div>
            <p class="description pr-4"><small>
              Handyman deluxe hammer, axe, pliers and gloves kit
            </small></p>
            <div class="user d-flex flex-row">
              <i class="far fa-user-circle mr-3"></i>
              <div>
                <p class="name mb-0"><b>Anton</b></p>
                <p class="location mb-0"><small>Berlin</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="review">
            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247435/jeshoots-com-VdOO4_HFTWM-unsplash_bvcroq.jpg')">
            </div>
            <div class="rating mb-2 text-black-50">
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
            </div>
            <p class="description pr-4"><small>
             Three piece set of pliers for all wire installations
            </small></p>
            <div class="user d-flex flex-row">
              <i class="far fa-user-circle mr-3"></i>
              <div>
                <p class="name mb-0"><b>Bruno</b></p>
                <p class="location mb-0"><small>Dresden</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="review">
            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247514/matt-artz-dh3zAdGGOIY-unsplash_gx05if.jpg')">
            </div>
            <div class="rating mb-2 text-black-50">
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
            </div>
            <p class="description pr-4"><small>
              Double wrench kit
            </small></p>
            <div class="user d-flex flex-row">
              <i class="far fa-user-circle mr-3"></i>
              <div>
                <p class="name mb-0"><b>Celine</b></p>
                <p class="location mb-0"><small>Hamburg</small></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Filler -->
        <div class="d-xl-none filler">
        </div>
      </div>
    </div>

      <hr class="mt-2 mt-md-3 mb-0" />
      <!-- Home Listings -->
      <div class="pt-4 pt-lg-5 headings">

  <footer class="container-fluid">
  <!-- Footer -->
  <div class="row pt-5 d-none d-md-flex footerNav">
    <div class="col-3">
      <h5 class="mb-3">Tooli</h5>
      <ul class="list-unstyled mb-1">
        <li><a href="#" class="text-secondary">Careers</a></li>
        <li><a href="#" class="text-secondary">Press</a></li>
        <li><a href="#" class="text-secondary">Policies</a></li>
        <li><a href="#" class="text-secondary">Help</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5 class="mb-3">Discover</h5>
      <ul class="list-unstyled mb-1">
        <li><a href="#" class="text-secondary">Trust & Safety</a></li>
        <li><a href="#" class="text-secondary">Travel Credit</a></li>
        <li><a href="#" class="text-secondary">Gift Cards</a></li>
        <li><a href="#" class="text-secondary">Tooli Citizen</a></li>
        <li><a href="#" class="text-secondary">Business Travel</a></li>
        <li><a href="#" class="text-secondary">Guidebooks</a></li>
        <li><a href="#" class="text-secondary">Tooli magazine</a></li>
        <li><a href="#" class="text-secondary">Events<span class="ml-1 badge badge-secondary font-weight-light p-1">New</span></a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5 class="mb-3">For proprietaries</h5>
      <ul class="list-unstyled mb-1">
        <li><a href="#" class="text-secondary">Why Rent tools</a></li>
        <li><a href="#" class="text-secondary">Dealing with customers</a></li>
        <li><a href="#" class="text-secondary">Community Center</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h5 class="mb-3 social">
        <i class="text-secondary mr-3 fab fa-facebook-f"></i>
        <i class="text-secondary mr-3 fab fa-twitter"></i>
        <i class="text-secondary fab fa-instagram"></i>
      </h5>
      <ul class="list-unstyled mb-1">
        <li><a href="#" class="text-secondary">Terms</a></li>
        <li><a href="#" class="text-secondary">Privacy</a></li>
        <li><a href="#" class="text-secondary">Site Map</a></li>
      </ul>
    </div>
  </div>

  <hr class="d-none d-md-block" />

  <div class="row justify-content-between align-items-center mb-4 mb-md-5 mt-5 mt-md-0 footerBar">
    <div class="col-auto">
      <small class="text-secondary">© Tooli GmbH.</small>
    </div>
    <div class="col-auto">
      <button class="btn btn-link px-1 text-dark select">
        <small>English <span class="pl-1 angle d-inline-block">&gt;</span></small>
      </button>
      <button class="btn btn-link px-1 text-dark select">
        <small>EUR <span class="pl-1 angle d-inline-block">&gt;</span></small>
      </button>
    </div>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
<div class="routes">
<p><%= link_to 'All tools', tools_path %><p>
<p>Navigates to tools/index.html.erb</p>
</div>

<%= link_to 'logout', destroy_user_session_path, method: 'delete'  %>

