
<div class="banner">
    <h1 class="banner-title" >Tooli</h1>
</div>

  <body>



    <div class="container-fluid">
      <!-- First Section -->
      <div class="pt-3 pt-lg-4 pt-xl-5 headings">
        <h4 class="mb-3">Find great tools in your city</h4>
        <p><span class="d-none d-md-inline">Check some of our options in Berlin</b></p>
      </div>

      <div class="row flex-nowrap pt-2 scrollableRow no-gutters">
        <div class="col-12 col-md-6 col-xl-4">
          <div class="review">
            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247357/todd-quackenbush-IClZBVw5W5A-unsplash_k0fiew.jpg')">
            </div>
            <div class="rating mb-2 text-black-50">
            </div>
            <p class="description pr-4">
              Handyman deluxe hammer, axe, pliers and gloves kit
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="review">
            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247435/jeshoots-com-VdOO4_HFTWM-unsplash_bvcroq.jpg')">
            </div>
            <div class="rating mb-2 text-black-50">
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
            </div>
            <p class="description pr-4">
             Three piece set of pliers for all wire installations
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
          <div class="review">
            <div class="aspectRatioBox mb-3 rounded" style="background-image: url('https://res.cloudinary.com/leocosta/image/upload/v1574247514/matt-artz-dh3zAdGGOIY-unsplash_gx05if.jpg')">
            </div>
            <div class="rating mb-2 text-black-50">
<!--               <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> -->
            </div>
            <p class="description pr-4">
              Double wrench kit
            </p>
        </div>

        <!-- Filler -->
        <div class="d-xl-none filler">
        </div>
      </div>
    </div>

      <hr class="mt-2 mt-md-3 mb-0" />
      <!-- Home Listings -->
      <div class="pt-4 pt-lg-5 headings">
