<h1>Holaaaaaa</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p><%= link_to 'Sign in', new_user_session_path %></p>

<% if current_user %>
<p><%= link_to 'Add a new tool', new_tool_path %></p>
<% end %>
