.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  text-align: center;
  border-radius: 4px;
}

a {
  color: black;
  text-decoration: none;
}

a.hover {
  color: black;
  text-decoration: none;
}
